<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mmcclintock.physgap"
        version   = "1.2.0">
    <name>PhysGap</name>

    <description>
        Trial PhoneGap application that allows first year physics students to view some sample "mobile based" material.
    </description>

    <author email="michael.ross.mcclintock@gmail.com">
        Michael McClintock
    </author>

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="permissions"      value="none" />

    <gap:splash src="static/splash/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="static/splash/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="static/splash/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="static/splash/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
</widget>
